.navbar-acera{
	background-color:#2263C1;
}
.inner-menu{
	/*1A4F8C*/
	background-color: #1A4F8C !important;
}
html, body, main {
	background-color: #ffffff	 !important;
}
.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}